<div id="tableToBack" class="main-content" style="color: #ffffff;">
  <div style="width: 100%;position: absolute;top: 5vh;bottom: 0;overflow-x: hidden;" class="z-border1 my-scrollBar">
    <table class="table-bordered table">
      <thead>
      <tr style="height: 44px;">
        <th nowrap="nowrap" width="10%">省</th>
        <th nowrap="nowrap" width="10%">市</th>
        <th nowrap="nowrap" width="10%">县</th>
        <th nowrap="nowrap" width="10%">公司简称</th>
        <th nowrap="nowrap" width="10%">公司全名</th>
        <th nowrap="nowrap" width="10%">行业</th>
        <th nowrap="nowrap" width="10%">营业额</th>
        <th nowrap="nowrap" width="10%">利润</th>
        <th nowrap="nowrap" width="10%">利润率</th>
        <th nowrap="nowrap" width="10%">注册地</th>
        <th nowrap="nowrap" width="10%">办公地</th>
        <th nowrap="nowrap" width="10%">官网</th>
        <th nowrap="nowrap" width="10%">上市日期</th>
      </thead>
      <tbody >
      <tr *ngFor="let listInfo of listInfos;let i= index" style="">
        <td>{{i}}</td>
        <td>{{listInfo.1}}</td>
        <td>{{listInfo.2}}</td>
        <td>{{listInfo.3}}</td>
        <td>{{listInfo.4}}</td>
        <td>{{listInfo.5}}</td>
        <td>{{listInfo.6}}</td>
        <td>{{listInfo.7}}</td>
        <td>{{listInfo.8}}</td>
        <td>{{listInfo.9}}</td>
        <td>{{listInfo.10}}</td>
        <td>{{listInfo.11}}</td>
        <td>{{listInfo.12}}</td>
        <td>{{listInfo.13}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
